

.wrapper {
  background: #58aed6b9;
  width: 100%;
  margin: 0px auto;
}

.text_block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;

}
@media (max-width: 1400px) {
  .text_block {
    width: 1400px;
    background-color: rgb(161, 191, 245);
  }
  .newText {width: 400px;}
}

@media (max-width: 1200px) {
  .font-size {font-size: 20px;}
  .color-text {font-size: 20px;}
  .textalign {font-size: 20px;}
  .bgfone {font-size: 20px;}
  .font {font-size: 20px;}
  .reset {font-size: 20px;}
  .btn-add {font-size: 20px;}
  .text_block {width: 1200px;}
  .newText {width: 600px;}
}


.textreader {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.reader_body {
}

select {
  padding: 8px;
  font-family: 'Courier New';
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px 20px 0px;
  background: rgb(215, 236, 243);

}

button {
  padding: 8px;
  font-family: 'Courier New';
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px 20px 0px;
  background: rgb(215, 236, 243);
}

.btn_reader {
  text-align: center;
}

#editor {
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
  width: 1200px;
  min-height: 700px;
  border-width: 0px;
  padding: 15px;
  background-color: white;
  -webkit-box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
  resize: none;
}

.newText {
  width: 400px;
  margin: auto;
  word-spacing: 8px;
  min-height: 10vw;
  margin: 10px;
  border: solid;
  border-width: 0px;
  padding: 25px;
  background-color: white;
  -webkit-box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
}